.article-card {
  height: 31vh;
  width: 94%;
  margin: 0 2% 2%;
  border: 1px solid black;
  display: flex;
}

.article-card > img {
  /* height: 20vh; */
  width: 40%;
  object-fit: cover;
}

.article-info {
  padding: 1%;
  margin: 1%;
  overflow: hidden;
}

.article-info > h3,
.article-info > p {
  margin: 0;
}